<div class="container">
  <div class="row">
    <h2 class ="col-md-7 offset-2">
     善良な市民同士で無差別に食欲を煽るSNSを作る
    </h2>
    <div class="col-md-8 offset-2">
      <%= render 'post_images/list', post_images: @post_images %>
    </div>
  </div>
<div>